$janus-colors-primary: #167FFC;
$janus-colors-secondary: #F6A33C;
$janus-colors-login: #1680FC;
$janus-colors-login-hover: #0f61c0;
$janus-colors-text-dark: #1D1C24;
$janus-colors-text-light: #FFFFFF;
$janus-colors-text-content: #52575C;
$janus-colors-text-inactive: #A0A4A8;

$janus-colors-active: #F6A33C;
$janus-colors-inactive: #C4C4C4;

$janus-padding-content: 2rem 10.25rem;
$janus-padding-content-2: 2rem 3rem;
$janus-padding-content-3: 2rem 1.5rem;